.button {
    background-color: transparent;
    color: var(--black);
    padding: var(--padding-xs);
    border: 0;
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.button:hover {
    color: var(--primary);
    cursor: pointer;
}

.active {
    color: var(--primary);
    font-weight: var(--font-weight-bold);
}