.div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--white);
  align-items: center;
  border-radius: var(--radius-sm);
}

.buttonsContainer {
  display: flex;
  gap: var(--gap-xxl);
  list-style: none;
}

.buttons {
  background-color: #fff;
}

.img {
  width: 120px;
}

.divButtons {
  display: flex;
  gap: var(--gap-md);
}