.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--brancoBaseModal);
}