.active {
    background-color: var(--green-100);
    color: var(--green-500);
    border: 1px solid var(--green-200);
    border-radius: var(--radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}

.inactive {
    background-color: transparent;
    color: #D4789F;
    border: 1px solid #FFD8ED;
    border-radius: var(--radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}