.active {
    background-color: var(--green-100);
    color: var(--green-500);
    border: 1px solid var(--green-200);
    border-radius: var(--radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}

.inactive {
    background-color: transparent;
    color: #D4789F;
    border: 1px solid #FFD8ED;
    border-radius: var(--radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}

.information {
    background-color: #D390A3; 
    color: #FFFFFF;
    max-height: min-content;
    border: none;    
    border-radius: 50px; 
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}

.danger {
    background-color: var(--red-100);
    color: var(--red-200);
    border: 1px solid #f5c2c2;
    border-radius: var(--radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    font-size: 11px;
}
